<!-- views/articles/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User | All</title>
</head>
<body>
    <!-- 
    lakukan looping untuk mendapatkan semua datanya
    akan melakukan perulangan berarti dalam bentuk array
    <%  %> untuk membuat javascript
    setiap i akan kita cetak berupa isi dari <div>
    dengan menulis <%=  %> berarti kita ingin mencetak "isinya" bukan logic javascript
    -->

    <% users.forEach(i => { %>
    <div>
        <h1>ID: <%= i.id %></h1>
        <h2>Username: <%= i.username %></h2>
        <p>Password: <%= i.password %></p>
          <a href="/users/delete/<%= i.id %>">Delete</a>
          <br>
        <a href="/users/update/<%= i.id %>">Update</a>      
    </div>

    <!-- ini harus dibuat untuk menutup kurung karena berupa javascript -->
    <% } ) %>

    <h2><a href="/users/create">Buat data baru</a></h2>

</body>
</html>